body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Blog Page Styles */
.btn-subscribe {
    border-color: #00bfa5;
    border-style: solid;
    border-width: 1px;
    color: #00bfa5;
}

/* Blog Post Page Styles */
article a:hover {
    color: #37474f
}

/* Open Source Page Styles */
.contributors div {
    padding: 8px 0;
    width: 215px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.contributors div div {
    width: auto;
    padding: 0;
}
.contributors div div:first-child+div {
    max-width: 150px;
    margin: 0 2px;
    white-space: nowrap;
}

/* Documentation Space */
.no-hover > a:hover {
    background-color: transparent !important;
}

.code-example > pre {
    font-family: "Source Code Pro", monospace;
    padding: 20px 40px;
    border-radius: 5px;
}
