<nav class="indigo accent-3 z-depth-0">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><b>ion</b></a>
      <a href="#!" data-target="mobile-menu" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown-introduction">Introduction</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown-developers">Developers</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown-resources">Resources</a></li>
      </ul>
      <ul class="collection with-header sidenav" id="mobile-menu">
          <li class="collection-header indigo-text text-accent-3"><b>Introduction</b></li>
          <li><a class="indigo-text text-accent-3" href="/about">About</a></li>
          <li><a class="indigo-text text-accent-3" href="/download">Download</a></li>
          <li><a class="indigo-text text-accent-3" href="/getting-started">Getting started</a></li>
          <li class="collection-header indigo-text text-accent-3"><b>Developers</b></li>
          <li><a class="indigo-text text-accent-3" href="/documentation">Documentation</a></li>
          <li><a class="indigo-text text-accent-3" href="/glossary">Glossary</a></li>
          <li><a class="indigo-text text-accent-3" href="/assets">Logo Assets</a></li>
          <li><a class="indigo-text text-accent-3" href="/open-source">Open source</a></li>
          <li class="collection-header indigo-text text-accent-3"><b>Resources</b></li>
          <li><a class="indigo-text text-accent-3" href="/blog">Blog</a></li>
          <li><a class="indigo-text text-accent-3" href="/community">Community</a></li>
          <li><a class="indigo-text text-accent-3" href="/contact">Contact</a></li>
          <li><a class="indigo-text text-accent-3" href="/privacy">Privacy</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Introduction Dropdown -->
<ul id="dropdown-introduction" class="dropdown-content">
    <li><a class="indigo-text text-accent-3" href="/about">About</a></li>
    <li><a class="indigo-text text-accent-3" href="/download">Download</a></li>
    <li><a class="indigo-text text-accent-3" href="/getting-started">Getting started</a></li>
</ul>

<!-- Developers Dropdown -->
<ul id="dropdown-developers" class="dropdown-content">
  <li><a class="indigo-text text-accent-3" href="/documentation">Documentation</a></li>
  <li><a class="indigo-text text-accent-3" href="/glossary">Glossary</a></li>
  <li><a class="indigo-text text-accent-3" href="/assets">Logo Assets</a></li>
  <li><a class="indigo-text text-accent-3" href="/open-source">Open source</a></li>
</ul>

<!-- Resources Dropdown -->
<ul id="dropdown-resources" class="dropdown-content">
  <li><a class="indigo-text text-accent-3" href="/blog">Blog</a></li>
  <li><a class="indigo-text text-accent-3" href="/community">Community</a></li>
  <li><a class="indigo-text text-accent-3" href="/contact">Contact</a></li>
  <li><a class="indigo-text text-accent-3" href="/privacy">Privacy</a></li>
</ul>
