---
layout: base
title: Open Source
permalink: /open-source
---

<div class="row">
    <div class="col s12 m6">
        <div class="card small">
            <div class="section">
                <div class="card-image center-align">
                    <i class="fas fa-code" style="font-size: 64px;"></i>
                </div>
            </div>
            <h5 class="card-title center-align">ion</h5>
            <div class="card-content center-align">
                <p>ion Core integration/staging tree.</p>
            </div>
            <div class="card-action center-align">
                <a href="https://github.com/ionomy/ion">Source Code</a>
            </div>
        </div>
        <div>
            <h4>ion Core Contributors</h4>
            <p>(Ordered by number of commits)</p>
            <div class="contributors">
                {% for c in site.corecontributors %}
                    <div>
                        <div><a{% if c.login %} href="https://github.com/{{c.login}}"{% endif %}>{{ c.name | htmlescape }}</a></div>
                        <div>({{ c.contributions }})</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small">
            <div class="section">
                <div class="card-image center-align">
                    <i class="fas fa-code" style="font-size: 64px;"></i>
                </div>
            </div>
            <h5 class="card-title center-align">ioncoin.org</h5>
            <div class="card-content center-align">
                <p>ioncoin.org website.</p>
            </div>
            <div class="card-action center-align">
                <a href="https://github.com/ioncoin-dot-org/ioncoin.org">Source Code</a>
            </div>
        </div>
        <div>
            <h4>ioncoin.org Contributors</h4>
            <p>(Ordered by number of commits)</p>
            <div class="contributors">
                {% for c in site.sitecontributors %}
                    <div>
                        <div><a{% if c.login %} href="https://github.com/{{c.login}}"{% endif %}>{{ c.name | htmlescape }}</a></div>
                        <div>({{ c.contributions }})</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
